:root {
    --primary-color: #333;
    --secondary-color: #444;
    --overlay-color: rgba(0, 0, 0, 0.7);
  }

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
    font-size: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

}

.navbar .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.navbar .logo {
  width: 200px;
}

.navbar ul {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  padding: 0 1rem;
}

.darkModeButton {
	
	display: inline-block;
  	background: var(--primary-color);
  	color: #fff;
  	padding: 0.4rem 0.7rem;
  	border: none;
  	cursor: pointer;
  	font-size: 1.1rem;
  
}

.darkModeButton:hover {
	
	background-color: var(--secondary-color);

}

body {
  font-family: 'Catamaran', sans-serif;
  line-height: 1.6;
  color: #333;
  font-size: 1.1rem;
  
}
.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
  }


ul {
  list-style: none;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}



.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  text-align: center;
}
.rounded {
  border-top: 5px solid #000000;
  border-radius: 10px;
  align-items: center;
}

.section-footer {
    background: var(--primary-color);
    color: #fff;
    padding: 4rem 0;
  }
  
  .section-footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  
  .section-footer h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .section-footer h3 {
    margin-bottom: 0.7rem;
  }

  .section-footer h5{
    margin-left: 100px;
    margin-top: 60px;
    color :rgb(112, 112, 112);
  }
  
  .section-footer a {
    line-height: 1.9;
    color: rgb(252, 252, 252);
  }
  
  .section-footer a > i {
    color: rgb(255, 255, 255);
    margin-right: 0.5rem;
  }
  
  .editAdmin {
  
  	color: #333;
  	display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  }
  
  .logoutAdmin {
  
  	color: #333;
  	display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  }
 

