:root {
    --primary-color: #333;
    --secondary-color: #444;
    --overlay-color: rgba(0, 0, 0, 0.7);
  }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
    font-size: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

  }
  
.navbar .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.navbar .logo {
  width: 200px;
}

.navbar ul {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  padding: 0 1rem;
}
.navbar a:hover {
  color: #555;
}

body {
  font-family: 'Catamaran', sans-serif;
  line-height: 1.6;
  color: #333;
  font-size: 1.1rem;
  
}

.darkModeButton {
	
	display: inline-block;
  	background: var(--primary-color);
  	color: #fff;
  	padding: 0.4rem 0.7rem;
  	border: none;
  	cursor: pointer;
  	font-size: 1.1rem;
  
}

.darkModeButton:hover {
	
	background-color: var(--secondary-color);

}

.awardPointButton {
	
	display: inline-block;
  	background: var(--primary-color);
  	color: #fff;
  	padding: 0.4rem 0.7rem;
  	border: none;
  	cursor: pointer;
  	font-size: 1.1rem;
	
}

.awardPointButton:hover {
	
	background-color: var(--secondary-color);

}




.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
  }


ul {
  list-style: none;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.section-footer {
    background: var(--primary-color);
    color: #fff;
    padding: 4rem 0;
  }
  
  .section-footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  
  .section-footer h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .section-footer h3 {
    margin-bottom: 0.7rem;
  }

  .section-footer h5{
    margin-left: 100px;
    margin-top: 60px;
    color :rgb(112, 112, 112);
  }
  
  .section-footer a {
    line-height: 1.9;
    color: rgb(252, 252, 252);
  }
  
  .section-footer a > i {
    color: rgb(255, 255, 255);
    margin-right: 0.5rem;
  }
 
  

