﻿
<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/aboutus.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
        	<a href="/">
            	<img src="/img/foodhub.png" class="logo">
            </a>
        </div>
    </nav>

    <section id="about" class="section-b">
        <div class="overlay">
            <div class="section-b-inner py-5">
                <h2 class="text-5 mt-1">About Us</h2>
                <p class="mt-1">
                    We at Foodhub, are working towards the UN sustainable development criteria : Zero Hunger. Our project aims to reduce world hunger by recruiting food donors and
                    provide struggling working class families with a platform to appeal for food aid. Our goal is to reduce world hunger dramatically.
                    Our project is a food bank application that allows users to locate nearest food banks and
                    donate to them.
                    This is our ultimate goal, to make it so that food banks will never be low on stock and are
                    able to provide fresh produce.

                </p>
            </div>
        </div>
    </section>

    <footer class="section-footer py-4 bg-primary">
        <div class="container">
          <div>
            <h2>Contact Us</h2>
                <a href="https://twitter.com" target="mainframe">
					<i class="fa fa-twitter-square" style="font-size:30px"></i>
				</a>
                <a href="http://facebook.com" target="mainframe">
                  <i class="fa fa-facebook-official" style="font-size:30px"></i>
                </a>
                <a href="http://youtube.com" target="mainframe">
                  <i class="fa fa-youtube-square" style="font-size:30px"></i>
                </a>
                <a href="https://github.com/BrunelCS/cs2001-2020_21-group-1-1" target="mainframe">
                  <i class="fa fa-github" style="font-size:30px"></i>
                </a>
          </div>
          <div>
            <h3>Company Info</h3>
            <ul>
              <li class = "phone">Phone Number</li>
              <li class = "email">Email Address</li>
              <li><a href="/aboutus">About Us</a></li>
              <li><a href="/feedback">Feedback</a></li>
            </ul>
          </div>
          <div>
            <h3>Contact Info</h3>
            <ul>
              <li>+44 (0)1234567890</li>
              <li>Foodhub010@gmail.com</li>

            </ul>
          </div>
        </div>
        <div class = "cr">
          <h5>©2021 FoodHub, All Rights Reserved. </h5>
          <h5>THIS IS A DEMO: All rights belong to their respective owners.</h5>
        </div>
      </footer>
</body>
</html>
