<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Sign Up</title>
<link rel="stylesheet" href="/css/registration.css">
</head>
<body>

<div id="particles-js">
        <script type="text/javascript" src="/js/particles.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
        
        <form th:action="@{/adminregistration}" class="textbox" action="" method="POST" th:object = "${user}">
        
            <h1>Register Details</h1>
            
            <input type="text" th:field="*{username}" placeholder="Username">
            <input type="number" th:field="*{phoneNum}"placeholder="Contact Number"> 
            <input type="email" th:field="*{email}" placeholder="Email"> 
            <input type="password" th:field="*{password}" placeholder="Password"> 
            <input type="submit" name="" value="Sign Up">
            <span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
            </form>
</div>

</body>
</html>