<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Update Details</title>
<link rel="stylesheet" href="/css/businessedit.css">

<style>
         
         	.darkMode {
         		
         		background-color: black;
         		color: white;
         	
         	}
         	
         	.darkMode a {
         	
         		color: white;
         	}
         	
         	.darkMode button {
         	
         		background-color: black;
         		color: white;
         	}
         	
         	.darkMode .btn {
         		
         		background-color: white;
         		color: black;
         	}
         	
         	.darkMode .btn:hover {
         	
         		background-color: grey;
         		color: white;
         	}
         	
         	.darkMode .darkModeButton {
	
				

  				background: white;
  				color: black;
			}

			.darkModeButton:hover {
	
				background-color: var(--secondary-color);
				color: white;

			}
         	
         	
         	
        </style>
</head>
<body>

<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-fill" viewBox="0 0 16 16">
  <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
	</svg>

	<button class="bi bi-moon-fill darkModeButton" onclick="darkModeOn()">ON</button >
	<button class="darkModeButton" onclick="darkModeOff()">OFF</button>
	<nav class="navbar">
         
            <div class="container">
            	<a href="/businesshomepage">
                <img src = "/img/foodhub.png" width="125px">
                </a>
               <!--  <div class="switch">Dark Mode: <span class="inner-switch">OFF</span></div> -->
              <ul class="nav">
          		<li><a th:href="@{/editbusiness}">Profile</a></li>
                <li><a href="/pointtransaction">Award</a></li>
                <li><a href="/logout">Logout</a></li>
                
              </ul>
            </div>
    </nav>
	
 <script>

  function checkForm(form)
  {
    
    if(!form.checkrole.checked) {
      alert("Please indicate you are not a robot");
      form.checkrole.focus();
      return false;
    }
    return true;
  }

</script>
 
        
        <section class = "section-a">
              <div class = "container">
              <form action="#" th:action="@{/save2}" th:object="${user}" method="post">
                  <h2>Update Details</h2>
                  
                  <input type="hidden" th:field="*{id}" readonly="readonly" />
                  
                  <h3 class = >Username</h3>
                  <input type="text" th:field="*{username}" readonly ="readonly" />
                
                  <input type="hidden" th:field="*{password}" readonly="readonly" required/>
                                  
                  <h3 class = "First">Phone Number</h3>
                  <input type="number" th:field="*{phoneNum}" required/>
                  
                  <h3 class = "First">Email Address</h3>
                  <input type="email" th:field="*{email}" required/>
                  
                   <h3 class = "First">Description</h3>
                  <input type="text" th:field="*{description}" required/>
                  
                   <h3 class = "First">Address</h3>
                  <input type="text" th:field="*{address}" required/>
                  
                  <input type="hidden" th:field="*{roleType}" required/>
                  
                  <input type="hidden" th:field="*{priorityMost}" required/>
                  <input type="hidden" th:field="*{priorityMiddle}" required/>
                  <input type="hidden" th:field="*{priorityLeast}" required/>

                  
                    <h3>Please Tick To Confirm Changes</h3>
                    
                    <th:block th:each="role : ${listRoles}">
                    <div>
					<input type="checkbox" th:field="*{roles}" th:text="${role.name}" th:value="${role.id}" required />
					</div>
					</th:block>
                        
                  <br><br>
                  <button class="btn"  type="submit" onclick="updateChanges()">Apply changes</button>
                  </form>
                  
              
              
              <br><br>
                  <form class="textbox" th:action="@{/deletebyuser}" method="POST">
                  <h2>Account Termination</h2>
                  <br>
                  <br>
                  <button type="submit"  class="btn" onclick="deleteMessage()">Delete Account</button>
                  </form>
                  <br><br>
 
          </section>
          
          <footer class="section-footer py-4 bg-primary">
            <div class="container">
              <div>
                <h2>Contact Us</h2>
                <a href="https://twitter.com" target="mainframe">
					<i class="fa fa-twitter-square" style="font-size:30px"></i>
				</a>
                <a href="http://facebook.com" target="mainframe">
                  <i class="fa fa-facebook-official" style="font-size:30px"></i>
                </a>
                <a href="http://youtube.com" target="mainframe">
                  <i class="fa fa-youtube-square" style="font-size:30px"></i>
                </a>
                <a href="https://github.com/BrunelCS/cs2001-2020_21-group-1-1" target="mainframe">
                  <i class="fa fa-github" style="font-size:30px"></i>
                </a>
              </div>
              <div>
                <h3>Company Info</h3>
                <ul>
                  <li class = "phone">Phone Number</li>
                  <li class = "email">Email Address</li>
                  <li><a href="/aboutus">About Us</a></li>
                  <li><a href="/feedback">Feedback</a></li>
                </ul>
              </div>
              <div>
                <h3>Contact Info</h3>
                <ul>
                  <li>+44 (0)1234567890</li>
                  <li>Foodhub010@gmail.com</li>
                </ul>
              </div>
            </div>
            <div class = "cr">
              <h5>©2021 FoodHub, All Rights Reserved. </h5>
              <h5>THIS IS A DEMO: All rights belong to their respective owners.</h5>
            </div>
            
          </footer>

		<script>
		
		 var value = sessionStorage.getItem("dark");
		    
		    if(value == 0) {
		  	  
		  	  darkModeOn();
		    }
		    else if(value == 1) {
		  	  darkModeOff();
		    }
		    
		    
		    
				function darkModeOn() {
					
					var element = document.body;
					element.classList.add("darkMode");
					
					sessionStorage.setItem("dark", 0);
					
				}
			
				function darkModeOff() {
					
					var element = document.body;
					element.classList.remove("darkMode");
					
					sessionStorage.setItem("dark", 1);
					
				}
		</script>

</body>
</html>