<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Forgot password</title>
<link rel="stylesheet" href="/css/forgot.css">
</head>
<body> 
<a href="/homepage">
     <img src="img/foodhub.png" width="125px">
</a>
<div th:if="${error != null}">
<p class = "text-danger">  [[${error}]] </p>
</div>
<div th:if="${message != null}">
<p class = "text-danger">  [[${message}]] </p>
</div>
<div id="particles-js">
        <script type="text/javascript" src="/js/particles.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
        
	<form th:action="@{/forgot_password}" class="textbox" method="POST">
    <div>
    <p><b>A reset email will be sent to you.</b></p>
    </div>
     <div>
     <p>
      <input type="email" name="email" class="form-control" placeholder="Enter your email address" required autofocus/>
     </p>
     <p class="text-center">
     <input type="submit" value="Send" class="btn btn-primary" >
     </p>
     </div>
        
	</form>

</div>

</body>
</html>
