<!DOCTYPE HTML>
<html>
	<head>
		<title>FoodHub - The Online Food Distribution Platform</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/landingpage.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
        <nav class="navbar">
            <div class="container">
              <a href="/">
              <img src = "/img/foodhub.png" class="logo">
              </a>
            </div>
          </nav>
      
          <section class="section-a">
            <div class="container">
              <div>
                <h1>Welcome To Foodhub.</h1>
                <h2>The open food collection and distribution platform.</h2>
                <p>
                  We aim to reduce world hunger by connecting people to food banks no matter the place.
                </p>
                <a href="login" class="btn">Enter Platform</a>
              </div>
              <img src="/img/Food_Bank_icon.png" class="icon" />
            </div>
          </section>
      
          <!-- Large Text -->
          <section id="about" class="section-b">
            <div class="overlay">
              <div class="section-b-inner py-5">
                <h3 class="text-2"></h3>
                <h2 class="text-5 mt-1">Foodbanks Near You</h2>
              </div>
            </div>
          </section>
      
          <!-- Gallery -->
          <section class="section-c">
            <div class="map-container">
              <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d318158.4743572817!2d-0.48811200000000005!3d51.46526!3m2!1i1024!2i768!4f13.1!2m1!1sall%20food%20bank!5e0!3m2!1sen!2suk!4v1607109317790!5m2!1sen!2suk" width="100%" height="600" frameborder="0" style="border:1cm" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </section>
      
          <!-- Footer -->
          <footer class="section-footer py-4 bg-primary">
            <div class="container">
              <div>
                <h2>Contact Us</h2>
                <a href="https://twitter.com" target="mainframe">
					<i class="fa fa-twitter-square" style="font-size:30px"></i>
				</a>
                <a href="http://facebook.com" target="mainframe">
                  <i class="fa fa-facebook-official" style="font-size:30px"></i>
                </a>
                <a href="http://youtube.com" target="mainframe">
                  <i class="fa fa-youtube-square" style="font-size:30px"></i>
                </a>
                <a href="https://github.com/BrunelCS/cs2001-2020_21-group-1-1" target="mainframe">
                  <i class="fa fa-github" style="font-size:30px"></i>
                </a>
              </div>
              <div>
                <h3>Company Info</h3>
                <ul>
                  <li class = "phone">Phone Number</li>
                  <li class = "email">Email Address</li>
                  <li><a href="/aboutus">About Us</a></li>
                  <li><a href="/feedback">Feedback</a></li>
                </ul>
              </div>
              <div>
                <h3>Contact Info</h3>
                <ul>
                  <li>+44 (0)1234567890</li>
                  <li>Foodhub010@gmail.com</li>

                </ul>
              </div>
            </div>
            <div class = "cr">
              <h5>©2021 FoodHub, All Rights Reserved. </h5>
              <h5>THIS IS A DEMO: All rights belong to their respective owners.</h5>
            </div>
          </footer>
    </body>
</html>